<launch>
  <include file="$(find lab6)/launch/map_server.launch"/>

  <include file="$(find particle_filter)/launch/localize_nomapserver.launch"/>

  <rosparam command="load" file="$(find lab6)/config/levine2_real.yaml" />
  <node pkg="lab6" name="lab6" type="pure_pursuit" output="screen"/>
</launch>
